@model CategorySideBarViewModel

<h1 class="h2 pb-4">Categories</h1>
<ul class="list-unstyled templatemo-accordion">
    @foreach (var item in Model.Items)
    {
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                @item.Category
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                @foreach (var subItem in item.SubCategories)
                {
                    <li><a class="text-decoration-none" href="/category/@subItem.Value">@subItem.Key</a></li>
                }
            </ul>
        </li>
    }

</ul>