<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Product Area
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-gifts"></i>
            <span>Products</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-area="dashboard" asp-controller="products" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="products" asp-action="create">Add New</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
           aria-expanded="true" aria-controls="collapse3">
            <i class="fas fa-sitemap"></i>
            <span>Categories</span>
        </a>
        <div id="collapse3" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Categories:</h6>
                <a class="collapse-item" asp-area="dashboard" asp-controller="categories" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="categories" asp-action="create">Add New</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sub Categories:</h6>
                <a class="collapse-item" asp-area="dashboard" asp-controller="subcategories" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="subcategories" asp-action="create">Add New</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4"
           aria-expanded="true" aria-controls="collapse4">
            <i class="fas fa-image"></i>
            <span>Media Library</span>
        </a>
        <div id="collapse4" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Medias:</h6>
                <a class="collapse-item" asp-area="dashboard" asp-controller="medialibrary" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="medialibrary" asp-action="create">Add New</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Galeries:</h6>
                <a class="collapse-item" asp-area="dashboard" asp-controller="galery" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="galery" asp-action="create">Add New</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        CUSTOMER AREA
    </div>
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        SETTING AREA
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5"
           aria-expanded="true" aria-controls="collapse5">
            <i class="fas fa-gifts"></i>
            <span>Roles</span>
        </a>
        <div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-area="dashboard" asp-controller="roles" asp-action="index">All</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="roles" asp-action="create">Add New</a>
                <a class="collapse-item" asp-area="dashboard" asp-controller="userroles" asp-action="index">Assign Role</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>